<script type="text/javascript" src="/javascript/index.js"></script>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Page title
      </dt>
      <dd class="govuk-summary-list__value">
        <%= page.title %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Confluence link (opens in new tab)
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="https://companieshouse.atlassian.net/wiki<%= page.webui %>" target="_blank"
            >https://companieshouse.atlassian.net/wiki<%= page.webui %></a>
      </dd>
    </div>
  </dl>

<form class="govuk-form-group categories action='#'" method='POST'>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Which categories apply to the page linked to above?
        </h1>
    </legend>

    <div id="confluence-page-hint" class="govuk-hint">
    Select all that apply.
    </div>

    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
    <% for(let i=0; i<categories.length; i++){ %>
        <div class="govuk-checkboxes__item">
        <input class="categories-form-fields govuk-checkboxes__input" type="checkbox" id='<%= categories[i] %>' name='<%= categories[i] %>'/>
        <label class="govuk-label govuk-checkboxes__label" for='<%= categories[i] %>'><%= categories[i] %></label>
        </div>
    <% } %>
    </div>

    </br>
  
    <button type="submit" class="govuk-button submit-categories" data-module="govuk-button" onclick="onSubmit(event, <%= page.post_id %>)">
        Submit
    </button>
</form>
